@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

:root {
  --primary-color: yellow;
  --gray-color: gray;
  --white-text-color: #fcfcfc;
  --black-text-color: #0000;

  --body-color: #fdf4f4;
  /* --container-color: #fff; */

}

@media screen and (max-width: 1024px){
  :root{
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;  
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}


body{
  background-color: var(--body-color);
}

/* ===================== resuable css class ===================== */
.container{
  max-width: 1080px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.grid{
  display: grid;
}
